<app-header></app-header>
<div class="container-fluid page-title">
  <div class="row">
    <div class="col-md-6">
      <div class="bformHead fLeft fmOpenL" id="postIndentHeader">
        {{ title }} ({{ totalCount }})
      </div>
    </div>
  </div>
</div>

<div class="container-fluid page-title">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>S. No</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.mobile }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <footer></footer>
</div>
