<app-header></app-header>
<div class="container-fluid page-title">
  <div class="row">
    <div class="col-md-6">
      <div class="bformHead fmOpenL" id="postIndentHeader">
        {{ title }} ({{ totalCount }})
      </div>
    </div>
    <div class="col-md-6">
      <button class="btn btn-info float-right" (click)="addUser(content)">
        Add User
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<div class="container-fluid page-title">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
            <tr>
              <th>S. No</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.mobile }}</td>
              <td>
                <span
                  ><button
                    type="button"
                    class="btn btn-secondary"
                    (click)="onEdit(user.id, content)"
                  >
                    Edit
                  </button></span
                >
                <span
                  ><button
                    type="button"
                    class="btn btn-danger"
                    (click)="onDelete(user.id, deleteConfirmModel)"
                  >
                    Delete
                  </button></span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ modelTitle }}</h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #userForm="ngForm" (ngSubmit)="addEditUserAction(userForm.value)">
      <div class="modal-body">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <div class="input-group">
            <input
              id="firstName"
              class="form-control"
              placeholder="Ex, Sabari"
              name="firstName"
              [(ngModel)]="userData.firstName"
            />
            <input
              id="id"
              class="form-control"
              name="id"
              type="hidden"
              [(ngModel)]="userData.id"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <div class="input-group">
            <input
              id="lastName"
              class="form-control"
              placeholder="Ex, Manikandan"
              name="lastName"
              [(ngModel)]="userData.lastName"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <div class="input-group">
            <input
              id="email"
              class="form-control"
              placeholder="Ex, demo@sabarimani.com"
              name="email"
              [(ngModel)]="userData.email"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="mobile">Mobile</label>
          <div class="input-group">
            <input
              id="mobile"
              class="form-control"
              placeholder="Ex, 9655338337"
              name="mobile"
              [(ngModel)]="userData.mobile"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close()">
          Close
        </button>
        <input type="submit" class="btn btn-success" value="Save" />
      </div>
    </form>
  </ng-template>

  <ng-template #deleteConfirmModel let-modal>
    <div class="modal-body">Are you sure do you want to Delete the User?</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close()">
        No
      </button>
      <button type="button" class="btn btn-success" (click)="deleteUser()">
        Yes
      </button>
    </div>
  </ng-template>

  <footer></footer>
</div>
